<style>
p.field-wrapper input {
    float: right;
}
p.required-field::before { 
    content: "*";
    float: right;
    color: red;
    margin-right: 38px;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color: black;">
  
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Add<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/addVehicle">Vehicle</a></li>
          <li><a href="#/addCustomer">Customer</a></li>
         <li><a href="#/addSupplier">Supplier</a></li>
          <li><a href="#/addDrivers">Driver</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">HourlyTrip<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/createTrip" >Create</a></li>
          <li><a href="#/viewCustomerAmount"  ng-click="getCustomerAmount()" >Display</a></li>
        <li><a href="#/viewVoucher"  ng-click="getVoucher()" >Voucher</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Supplier<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/supplierAmount">Add Expenditure</a></li>
          <li><a href="#/viewSupplierAmount"  ng-click="getSupplierAmount()" >Display</a></li>
        </ul>
      </li>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">User<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/addUser">Add</a></li>
          <li><a href="#/deleteUser" ng-click="getUser()">Delete</a></li>
        <li><a href="#/updateUser" ng-click="getUser()">Update</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">View<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/viewVehicleData" ng-click="getVehicleData()">Vehicle Details</a></li>
          <li><a href="#/viewCustomerData" ng-click="getCustomerData()">Customer Details</a></li>
         <li><a href="#/viewSupplierData" ng-click="getSupplierData()">Supplier Details</a></li>
          <li><a href="#/viewDriverData" ng-click="getDriverData()">Driver Details</a></li>
        </ul>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href ng-click="logout()" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div style="border: 1px solid; width: 30%; margin: auto; height: 421px; border-radius: 8px; background-color: white; opacity: 0.8; margin-top: 80px;">
 <br><center><h4><b>Add Vehicle</b></h4></center><br>

		
	 <b> <p class="field-wrapper required-field" style="margin-top: 14px;   margin-left: -199px;  margin-bottom: -22px;">Vehicle Number : </p>  </b> 	<input type="text" 
			ng-model="vehicle.vehicleNumber" style="height: 30px;margin-left: 140px;" ng-required="true">
	   <br>
	   <br>
	
	   <b>  <p class="field-wrapper required-field" style="margin-top: -17px;   margin-left: -225px;  margin-bottom: -22px;">VehicleType : </p> 	</b><input type="text" 
			ng-model="vehicle.vehicleType" style="height: 30px;margin-left: 140px;" ng-required="true">
			  <br>
	   <br>
	 <b><p class="field-wrapper required-field" style="margin-top: -17px;   margin-left: -221px;  margin-bottom: -22px;">VehicleMake : </p> </b>
	    	<input type="text" 
			ng-model="vehicle.vehicleMake"style="height: 30px;margin-left: 140px;" ng-required="true">
			  <br>
	   <br>
	 <b><p  class="field-wrapper required-field"style="margin-top: -17px;   margin-left: -214px;  margin-bottom: -22px;">ChaseNumber : </p> </b>
	    	<input type="text" 
			ng-model="vehicle.chaseNumber" style="height: 30px;margin-left: 140px;" ng-required="true">
			  <br>
	   <br>
	 <b><p class="field-wrapper required-field" style="margin-top: -17px;   margin-left: -199px;  margin-bottom: -22px;">Engine Number : </p> </b>
	    	<input type="text" 
			ng-model="vehicle.engineNumber"style="height: 30px;margin-left: 140px;" ng-required="true">
			  <br>
	   <br>
	 <b><p class="field-wrapper required-field" style="margin-top: -17px;   margin-left: -235px;  margin-bottom: -22px;">Vehicle Id : </p> </b>
	    	<input type="text" 
			ng-model="vehicle.vehicleId"style="height: 30px;margin-left: 140px;" ng-required="true">
 <br>
	   <br>
<button type="submit" ng-click="addVehicle(vehicle)" class="btn btn-primary">Submit</button>
<button type="submit" ng-click="clearVehicle()" class="btn btn-primary">Clear</button>

 </div>